{% extends '@OpenApiAssistant/layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/github-dark.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
{% endblock %}

{% block content %}
    <form action="{{ path('openapi_assistant') }}" method="post" name="form">
        <div class="container mx-auto max-w-5xl px-5">
            <h2 class="text-base font-semibold leading-7 text-white mt-6">New Endpoint</h2>
            <p class="mb-1 text-sm leading-6 text-slate-400">Create API endpoints and specs from payloads.</p>

            {% set form_errors = form.vars.errors|length %}
            {% if form_errors > 0 %}
                <div class="rounded-md bg-rose-950 p-4 mt-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-rose-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 class="text-sm font-medium text-rose-400">There {{ form_errors > 1 ? 'were' : 'is' }} {{ form_errors }} error{{ form_errors > 1 ? 's' }} with your submission</h3>
                            <div class="mt-2 text-sm text-rose-400">
                                <ul role="list" class="list-disc space-y-1 pl-5">
                                    {% for error in form.vars.errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="space-y-4">
                <div class="space-y-4 sm:space-x-4 sm:flex">
                    <div class="mt-4 sm:flex-none">
                        <label for="{{ form.method.vars.id }}" class="block text-sm font-medium leading-6 text-white">Method</label>
                        <div class="mt-2">
                            {{ form_widget(form.method, {'attr': {'class': 'block rounded-md border-0 bg-slate-800 py-1.5 text-white shadow-sm ring-1 ring-inset ' ~ (form.method.vars.errors|length > 0 ? 'ring-2 ring-rose-500 focus:ring-rose-500' : 'ring-white/10') ~ ' focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black'}}) }}
                            {% for error in form.method.vars.errors %}
                                <p class="mt-2 text-sm text-rose-500">{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="sm:flex-1 sm:grow">
                        <label for="{{ form.uri.vars.id }}" class="block text-sm font-medium leading-6 text-white">URI</label>
                        <div class="mt-2">
                            <div class="flex rounded-md bg-slate-800 ring-1 ring-inset {{ form.uri.vars.errors|length > 0 ? 'ring-2 ring-rose-500 focus-within:ring-rose-500' : 'ring-white/10' }} focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                                <label for="{{ form.uri.vars.id }}"
                                       class="flex select-none items-center pl-3 text-slate-500 sm:text-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="-ml-1 mr-1 w-4 h-4">
                                        <path fill-rule="evenodd" d="M8 1a3.5 3.5 0 0 0-3.5 3.5V7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7V4.5A3.5 3.5 0 0 0 8 1Zm2 6V4.5a2 2 0 1 0-4 0V7h4Z" clip-rule="evenodd" />
                                    </svg>
                                    https://localhost/
                                </label>
                                <input type="text"
                                       autofocus="autofocus"
                                       name="{{ field_name(form.uri) }}"
                                       autocomplete="off"
                                       required
                                       id="{{ form.uri.vars.id }}"
                                       class="flex-1 border-0 bg-transparent py-1.5 pl-0 text-white focus:ring-0 sm:text-sm sm:leading-6"
                                       placeholder="products"
                                       value="{{ field_value(form.uri) }}"
                                >
                            </div>
                            {% for error in form.uri.vars.errors %}
                                <p class="mt-2 text-sm text-rose-500">{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="space-y-4 md:space-y-0 md:space-x-4 md:flex">
                    <div class="md:flex-1">
                        <div class="flex items-center">
                            <label for="{{ form.req.vars.id }}" class="block text-sm font-medium leading-6 text-white">Request</label>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="w-5 h-5 fill-white ml-1 hidden">
                                <path fill-rule="evenodd"
                                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div class="mt-2">
                        <textarea rows="10"
                                  name="{{ field_name(form.req) }}"
                                  id="{{ form.req.vars.id }}"
                                  class="block w-full rounded-md border-0 bg-slate-800 py-1.5 text-white shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset focus:ring-indigo-500 {{ form.req.vars.errors|length > 0 ? 'ring-2 ring-rose-500 focus:ring-rose-500' : 'ring-white/10' }} sm:text-sm sm:leading-6"
                                  placeholder="Add your request payload..."
                        >{{ field_value(form.req) }}</textarea>
                            {% for error in form.req.vars.errors %}
                                <p class="mt-2 text-sm text-rose-500">{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="md:flex-1">
                        <div class="flex items-center">
                            <label for="{{ form.res.vars.id }}" class="block text-sm font-medium leading-6 text-white">Response</label>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="w-5 h-5 fill-white ml-1 hidden">
                                <path fill-rule="evenodd"
                                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div class="mt-2">
                        <textarea rows="10"
                                  name="{{ field_name(form.res) }}"
                                  id="{{ form.res.vars.id }}"
                                  class="block w-full rounded-md border-0 bg-slate-800 py-1.5 text-white shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset focus:ring-indigo-500 {{ form.res.vars.errors|length > 0 ? 'ring-2 ring-rose-500 focus:ring-rose-500' : 'ring-white/10' }} sm:text-sm sm:leading-6"
                                  placeholder="Add your response payload..."
                        >{{ field_value(form.res) }}</textarea>
                            {% for error in form.res.vars.errors %}
                                <p class="mt-2 text-sm text-rose-500">{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4 flex items-center justify-between gap-x-6">
                <button type="submit"
                        name="action"
                        value="preview"
                        class="inline-flex items-center gap-x-1.5 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                    </svg>
                    Preview
                </button>
                <button type="reset" class="rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-white/20">Reset</button>
            </div>
        </div>

        <div class="container mx-auto max-w-5xl px-5">
            <hr class="border-slate-800 my-6">
        </div>

        {{ include('@OpenApiAssistant/assistant/preview.html.twig') }}
    </form>
{% endblock %}
