<div class="container mx-auto max-w-5xl px-5 space-y-4 pb-10">
    {% if preview.openapi_spec is defined %}
        <div>
            <h2 class="text-base font-semibold leading-7 text-white mt-6">OpenAPI Specification Preview</h2>
            <p class="mb-1 text-sm leading-6 text-slate-400">Generated from your endpoint data.</p>
        </div>

        <div>
            <nav class="flex border-b border-slate-800" aria-label="Tabs">
                <ul role="tablist" class="flex min-w-full flex-none gap-x-1 text-sm leading-6 text-slate-400">
                    <li>
                        <a id="tab-0"
                           role="tab"
                           class="cursor-pointer aria-selected:text-white hover:text-slate-300 border-b-2 border-transparent aria-selected:border-indigo-500 py-3 px-3 inline-block"
                           aria-selected="true"
                           aria-controls="tabpanel-0"
                        >openapi.yaml</a>
                    </li>
                </ul>
            </nav>
            <div id="tabpanel-0"
                 role="tabpanel"
                 tabindex="0"
                 aria-labelledby="tab-0"
                 class="flex items-start bg-slate-800/60"
            >
                <div aria-hidden="true" class="select-none border-r border-slate-300/5 px-4 font-mono text-slate-600 text-sm leading-6 pt-3.5">
                    {% for ln in 1..(preview.openapi_spec.yaml|split('\n')|length) %}
                        {{ ln|length < 2 ? '0' ~ ln : ln }}<br>
                    {% endfor %}
                </div>
                <pre><code class="rounded-tl-none rounded-md bg-transparent language-yaml">{{ preview.openapi_spec.yaml }}</code></pre>
            </div>
        </div>
    {% endif %}

    {% if preview.classes_code is defined %}
        <div class="container mx-auto max-w-5xl">
            <hr class="border-slate-800 my-6">
        </div>

        <div>
            <h2 class="text-base font-semibold leading-7 text-white mt-6">PHP Code Preview</h2>
            <p class="mb-1 text-sm leading-6 text-slate-400">Generated from your OpenAPI specification.</p>
        </div>

        <div class="tabs">
            <div class="mx-auto max-w-7xl">
                <div class="sm:hidden">
                    <label for="tabs" class="sr-only">Select a tab</label>
                    <!-- TODO: Use an "onChange" listener to redirect the user to the selected tab URL. -->
                    <select id="tabs" class="block w-full rounded-md border-none bg-slate/5 py-2 pl-3 pr-10 text-base text-white shadow-sm ring-1 ring-inset ring-slate/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm">
                        {% for name, class_code in preview.classes_code %}
                            <option {{ loop.first ? 'selected' }}>{{ name }}.php</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="hidden sm:block">
                    <nav class="flex border-b border-slate-800" aria-label="Tabs">
                        <ul role="tablist" class="flex min-w-full flex-none gap-x-1 text-sm leading-6 text-slate-400">
                            {% for name, class_code in preview.classes_code %}
                                <li>
                                    <a id="tab-class-{{ loop.index }}"
                                       role="tab"
                                       class="cursor-pointer aria-selected:text-white hover:text-slate-300 border-b-2 border-transparent aria-selected:border-indigo-500 py-3 px-3 inline-block"
                                       aria-selected="{{ loop.first ? 'true' : 'false' }}"
                                       aria-controls="tabpanel-class-{{ loop.index }}"
                                       {% if not loop.first %}tabindex="-1"{% endif %}
                                    >{{ name }}.php</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="tabs-content">
                {% for name, class_code in preview.classes_code %}
                    <div id="tabpanel-class-{{ loop.index }}"
                         role="tabpanel"
                         tabindex="0"
                         aria-labelledby="tab-class-{{ loop.index }}"
                         class="flex items-start {{ not loop.first ? 'hidden' }} bg-slate-800/60"
                    >
                        {% set code_lines = class_code|split('\n')|length + 1 %}
                        <div aria-hidden="true" class="select-none border-r border-slate-300/5 px-4 font-mono text-slate-600 text-sm leading-6 pt-3.5">
                            {% for ln in 1..preview.line_numbers %}
                                {% if ln <= code_lines %}
                                    {{ ln|length < 2 ? '0' ~ ln : ln }}
                                {% else %}
                                    {{ ' ' }}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </div>
                        <pre><code class="rounded-tl-none rounded-md bg-transparent language-php">{{ class_code }}</code></pre>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if preview.openapi_spec is defined %}
        <button type="submit"
                name="action"
                value="save"
                class="inline-flex items-center gap-x-1.5 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 h-5 w-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
            </svg>
            Save All
        </button>
    {% endif %}
</div>

<script>
    class TabsAutomatic {
        constructor(groupNode) {
            this.tablistNode = groupNode

            this.tabs = []

            this.firstTab = null
            this.lastTab = null

            this.tabs = Array.from(this.tablistNode.querySelectorAll('[role=tab]'))
            this.tabpanels = []

            for (let i = 0; i < this.tabs.length; i += 1) {
                const tab = this.tabs[i]
                const tabpanel = document.getElementById(tab.getAttribute('aria-controls'))

                tab.tabIndex = -1
                tab.setAttribute('aria-selected', 'false')
                this.tabpanels.push(tabpanel)

                tab.addEventListener('keydown', this.onKeydown.bind(this))
                tab.addEventListener('click', this.onClick.bind(this))

                if (!this.firstTab) {
                    this.firstTab = tab
                }
                this.lastTab = tab
            }

            this.setSelectedTab(this.firstTab, false)
        }

        setSelectedTab(currentTab, setFocus) {
            if (typeof setFocus !== 'boolean') {
                setFocus = true
            }
            for (let i = 0; i < this.tabs.length; i += 1) {
                const tab = this.tabs[i]
                if (currentTab === tab) {
                    tab.setAttribute('aria-selected', 'true')
                    tab.removeAttribute('tabindex')
                    this.tabpanels[i].classList.remove('hidden')
                    if (setFocus) {
                        tab.focus()
                    }
                } else {
                    tab.setAttribute('aria-selected', 'false')
                    tab.tabIndex = -1
                    this.tabpanels[i].classList.add('hidden')
                }
            }
        }

        setSelectedToPreviousTab(currentTab) {
            if (currentTab === this.firstTab) {
                this.setSelectedTab(this.lastTab)
            } else {
                const index = this.tabs.indexOf(currentTab)
                this.setSelectedTab(this.tabs[index - 1])
            }
        }

        setSelectedToNextTab(currentTab) {
            if (currentTab === this.lastTab) {
                this.setSelectedTab(this.firstTab)
            } else {
                const index = this.tabs.indexOf(currentTab)
                this.setSelectedTab(this.tabs[index + 1])
            }
        }

        /* EVENT HANDLERS */

        onKeydown(event) {
            const tgt = event.currentTarget
            let flag = false

            switch (event.key) {
                case 'ArrowLeft':
                    this.setSelectedToPreviousTab(tgt)
                    flag = true
                    break

                case 'ArrowRight':
                    this.setSelectedToNextTab(tgt)
                    flag = true
                    break

                case 'Home':
                    this.setSelectedTab(this.firstTab)
                    flag = true
                    break

                case 'End':
                    this.setSelectedTab(this.lastTab)
                    flag = true
                    break

                default:
                    break
            }

            if (flag) {
                event.stopPropagation()
                event.preventDefault()
            }
        }

        onClick(event) {
            this.setSelectedTab(event.currentTarget)
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        hljs.highlightAll()

        const tablists = document.querySelectorAll('[role=tablist]')
        for (let i = 0; i < tablists.length; i++) {
            new TabsAutomatic(tablists[i])
        }
    })
</script>
